packaging
torch-fidelity
torchmetrics
matplotlib
seaborn
opencv-python
tqdm
scikit-learn
clip
pytorch-lightning
omegaconf
einops
webdataset
diffusers
pycocotools
transformers
accelerate
clean-fid
gradio
huggingface_hub
openslide-python
tifffile
pyvips
shapely
